.header{
    color:rgb(23, 153, 192);
    font-weight: 900;
    position:relative;
}
.header::after{
  position:absolute;
  content:'';
  background: rgb(23, 153, 192);
  height:5px;
  width:500px;
  top:105%;
  left:50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

/* === input part === */
 .input-style{
     width:60%;
 }
 /* === player ==== */
 .player{
     background:#ddd;
 }

 .player-img img{
     width:100%;
 }

 /* ==== error ===== */
 #input-blank-error{
  border: 1px solid rgb(122, 53, 53);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
#input-blank-error img{
    border-radius: 20px;  
}
.text-error{
    padding: 20px 10px; 
    color:rgb(163, 33, 33);
    font-weight:400;
}
#male{
    display: none;
}
#female{
    display: none;
}
#All{
    display: none;
}